<!-- <h1><%= title %> </h1> -->


    <img src="../content/files/photoMoi.png" class="img-fluid" alt="photoMoi">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, recusandae aliquid dolores doloremque nesciunt sequi at odio aliquam accusantium perferendis ipsum quibusdam, qui ducimus. Accusamus praesentium aliquam hic tempora animi.</p>
    <br>
    <p>    <a href="../content/files/resume.pdf" download> Click here to download my resume </a><p></p>
