<h1>My <%= title %> </h1>  

<ul class="list-group">
    <li class="list-group-item">Web development</li>
    <li class="list-group-item">Mobile apps</li>
    <li class="list-group-item">General programming</li>
  </ul>